main {
    /* background-image: url(../img/1--4-icon-fx.png), url('../img/1--4-background.png');
    padding: 15px; */
    /* background-position: left bottom, left top;
    background-repeat: no-repeat, repeat;
    background-image: url(../img/1--4-icon-fx.png);
    background-size: 10rem; */
    background-color: rgba(47, 159, 217, .2);
}

.demo-bg {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: -5rem;
    height: 250px;
    /* width: 100%; */
    /* height: auto; */
}

.link-text {
    color: #2f9fd9 !important;
    font-weight: 700;
}

.profile_wrapper {
    position: relative;
}

.input {
    position: absolute;
    left: 4rem;
    bottom: -1.4rem;
    border: 2px solid #228B22;
    background-color: #FFA500;
    border-radius: 16px;
    padding: .7rem;
}

.input::placeholder {
    text-align: center;
    color: white;
    font-weight: bold;
}

.join-us {
    background-color: transparent;
    color: #2f9fd9;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    padding-left: 2.2rem;
    letter-spacing: 0.00px;
    line-height: 69px;
    width: auto;
}

.together {
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: #2f9fd9;
    color: white;
    width: 300px;
}